{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <header class="content-text">
        <br/>
        <h1>Hey Pexonian, trage hier deine <strong>Zertifizierung</strong> ein!</h1>
        <br/>
        <form action="/" Method="POST">
            <input type="text" placeholder="Name der Zertifizierung" name="certificate_name">
            <br/><br/>
            <input type="submit" value="Zertifizierung Hinzufügen" class="btn btn-primary">
        </form>
        <br/><br/>    
    <table class="table table-dark table-hover table-bordered table-striped border-light">
        <thead>
            <tr>
                <th scope="col">Zertifizierung</th>
                <th scope="col">Owner</th>
            </tr>
        </thead>
        {% for certificate in certificate %}
        <tbody>
            <tr>
                <td>
                    {{ certificate.certificate_name }}
                </td>
                <td>
                    {{ certificate.owner }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    <p><em>Willst du deine Zertifikate bearbeiten oder sogar löschen? Dann klicke </em><a href="{{ url_for('users.certificate') }}">Hier!</a></p>
    <br/><br/>
    <p><em>Hier drücken für den </em><a href="{{ url_for('users.logout') }}">Logout!</a></p>
    </header>
</div>
{% endblock %}
